#vi swaps
*.swo
*.swp
# ignore files from git
# History files
*.Rhistory
*.Rapp.history
.Rhistory
.Rapp.history

# Session Data files
*.RData
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj.user/

# vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# any data

data/
